# Python
__pycache__/
*.py[cod]
*$py.class
venv*/
.venv*/
env*/
.env
build/
dist/

# Django
db.sqlite3
media/
staticfiles/

# Node/Vite/Mobile
node_modules/
dist/
dist-ssr/
*.local
.DS_Store

# IDEs
.vscode/
.idea/

# Mobile Specific
mobile_app/android/build/
mobile_app/android/app/build/
mobile_app/ios/App/build/
mobile_app/node_modules/
capacitor-cordova-android-plugins/
*.log
